webservice/Schemas/competicao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Competicao" xmlns:tns="http://www.example.org/Competicao" elementFormDefault="qualified">

    <complexType name="competicaoT">
    	<sequence>
    		<element name="idcompeticao" type="int"></element>
    		<element name="nome_competicao">
    			<simpleType>
    				<restriction base="string">
    					<maxLength value="100"></maxLength>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>

    <element name="competicao" type="tns:competicaoT"></element>
</schema>